<nav class="navbar navbar-expand-lg navbar-light bg-light" *ngIf="routers.url != '/'">
  <a class="navbar-brand" href="#">
      <img src="https://toppng.com/uploads/preview/technology-icon-orange-information-technology-icon-115535310117amjuxxw3e.png" width="30" height="30" class="d-inline-block align-top" alt="">
      TecnoCenter
  </a>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link" type="button" routerLink="/gestionProductos">Gestionar Productos</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" type="button" routerLink="/tienda">Tienda</a>
      </li>
    </ul>
  </div>

  <div  id="navbarSupportedContent2">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link active" type="button" (click)="cerrarSesion()">Cerrar Sesión</a>
      </li>
      
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>



<footer class="mainfooter" role="contentinfo">
  <div class="footer-middle">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-4">
        <!--Column1-->
        <div class="footer-pad">
          <h4>Contacto</h4>
          <ul class="list-unstyled">
            <li><a href="#">+569-98578547</a></li>
            <li><a href="#">contacto@TecnoCenter.com</a></li>

          </ul>
        </div>
      </div>
      <div class="col-md-4 col-sm-4">
        <!--Column1-->
        <div class="footer-pad">
          <h4>Oficinas</h4>
          <ul class="list-unstyled">
            <li><a href="#">Estacion central</a></li>
            <li><a href="#">Temuco</a></li>

          </ul>
        </div>
      </div>
      <div class="col-md-4 col-sm-4">
        <!--Column1-->
        <div class="footer-pad">
          <h4>Redes sociales</h4>
          <ul class="list-unstyled">
            <li><a href="#">Instagram</a></li>
            <li><a href="#">Facebook</a></li>
            <li><a href="#">Linekdin</a></li>
            <li><a href="#">Twitter</a></li>

     
          </ul>
        </div>
      </div>
        
    </div>
    <div class="row">
        <div class="col-md-12 copy">
            <p class="text-center">&copy;TecnoCenter</p>
        </div>
    </div>


  </div>
  </div>
</footer>