<form [formGroup]="formularioProducto" class="formulario p-3 ">

    <div class="form-group pb-1">
        <label class="control-label pb-1">Codigo</label>
        <input type="text"  name="username" placeholder="Ingrese un codigo" class="form-control" required autofocus="autofocus" formControlName="codigo" />
    </div>
    <div class="form-group pb-1">
        <label class="control-label pb-1" id="nombre" >Nombre</label>
        <input type="text"   placeholder="Ingrese un nombre de producto" class="form-control" required autofocus="autofocus" formControlName="nombre"/>
    </div>
    <div class="form-group pb-1">
        <label class="control-label pb-1">Precio</label>
        <input type="text"   placeholder="Ingrese un precio" class="form-control" required autofocus="autofocus" formControlName="precio"/>
    </div>
    <div class="form-group pb-1">
        <label class="control-label pb-1">Stock</label>
        <input type="text"   placeholder="Ingrese el stock del producto" class="form-control" required autofocus="autofocus" formControlName="stock"/>
    </div>
    <div class="form-group">
        <div class="row pt-3 mx-0">
            <button type="submit" (click)="guardar()" class="btn btn-success btn-block">Guardar</button>
        </div>  
    </div>
</form>

