


<div class="container">
    <!-- VISTA DE GESTION DE PRODUCTOS -->
    <div class="row" >
        <div class="col-md-12 ">
            
            <br>
            <div class="d-flex justify-content-between fondo p-3 shadow">
                <h3>Productos en bodega</h3>
                <button class="btn btn-primary" data-toggle="tooltip" data-placement="top" title="Agregar Producto" (click)="openModalFormAdd()"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
                    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z"/>
                  </svg></button>
                
            </div>
            <hr>
            <!-- LISTA DE PRODUCTOS -->
            <div class="fondo p-3 shadow">
                <app-listar [productos]="productosVitrina" (emisorEdit)="receptorEdicionProductoLista($event)" (emisorDelete)="receptorBorrarProductoLista($event)"></app-listar>
            </div>
        </div>

    </div>  
</div>


<div class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" id="myModalFormAdd">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="exampleModalLabel">Nuevo Producto</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeModalFormAdd()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <!-- FORMULARIO PARA AGREGAR UN PRODUCTO A LA VITRINA -->
        <div>
          <app-formulario-producto (emisor)="receptorFormulario($event)" (dialog)="cancelDialog($event)"></app-formulario-producto>
        </div>
      </div>
      
    </div>
  </div>
</div>


<div class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" id="myModalFormEdit">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="exampleModalLabel">Editar Producto</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeModalFormEdit()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <!-- FORMULARIO PARA AGREGAR UN PRODUCTO A LA VITRINA -->
        <div *ngIf="setVisibleEditForm">
          <app-editar-producto [producto]="auxProduct" (emisor)="receptorEdicionProductoForm($event)" (dialog)="cancelDialog($event)"></app-editar-producto>
        </div>
      </div>
      
    </div>
  </div>
</div>




<!-- <button class="btn btn-lg btn-outline-primary" (click)="open()">Launch demo modal</button> -->